<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.omegacentauri.rjm"
    android:versionCode="1407"
    android:versionName="0.14.7" >

    <application
        android:label="Raspberry Jam Mod"
        android:icon="@drawable/icon" >
        <activity
            android:name="mobi.omegacentauri.rjm.MainActivity"
            android:label="Raspberry Jam Mod" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="19" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />    
    
</manifest>