.classpath
.gradle/
.metadata/
.project
.settings/
110/.gradle/
110/build/
110/src/
111/.gradle/
111/.idea/
111/.metadata/
111/.project
111/.settings/
111/build/
111/src/
19/.classpath
19/.gradle/
19/.project
19/.settings/
19/19_Client.launch
19/19_Server.launch
19/bin/
19/build/
194/.gradle/
194/build/
194/src/
eclipse/

